@font-face {
  font-family: 'MavenPro';
  src: url('MavenProRegular.woff2') format('woff2'),
      url('MavenProRegular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'MavenPro';
  src: url('MavenProLight300-Regular.woff2') format('woff2'),
      url('MavenProLight300-Regular.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'MavenPro';
  src: url('MavenProBlack.woff2') format('woff2'),
      url('MavenProBlack.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'MavenPro';
  src: url('MavenProMedium.woff2') format('woff2'),
      url('MavenProMedium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'MavenPro';
  src: url('MavenProBold.woff2') format('woff2'),
      url('MavenProBold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'MavenPro';
  src: url('MavenProLight200-Regular.woff2') format('woff2'),
      url('MavenProLight200-Regular.woff') format('woff');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'MavenPro';
  src: url('MavenProLight100-Regular.woff2') format('woff2'),
      url('MavenProLight100-Regular.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}
