@font-face {
    font-family: 'EtelkaPro';
    src: url('EtelkaLightPro.woff2') format('woff2'),
        url('EtelkaLightPro.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
/* 
@font-face {
    font-family: 'EtelkaPro';
    src: url('EtelkaMediumPro.woff2') format('woff2'),
        url('EtelkaMediumPro.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'EtelkaPro';
    src: url('EtelkaTextPro-Bold.woff2') format('woff2'),
        url('EtelkaTextPro-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'EtelkaPro';
    src: url('EtelkaMediumPro-Bold.woff2') format('woff2'),
        url('EtelkaMediumPro-Bold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'EtelkaPro';
    src: url('EtelkaTextPro.woff2') format('woff2'),
        url('EtelkaTextPro.woff') format('woff');
    font-weight: normal;
    font-style: normal;
} */

